@tailwind base;
@tailwind components;
@tailwind utilities;


textarea:is(:focus){
    border-color: teal; 
    border-width: 3px;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

#submit{
    transition: all 0.5s;
}

#submit:hover{
    background-color: white;
    border: 2px solid green;
    box-shadow: 3px 3px 15px rgba(0, 128, 0, 0.495), -3px -3px 15px rgba(0, 128, 0, 0.495),-3px 3px 15px rgba(0, 128, 0, 0.495),3px -3px 15px rgba(0, 128, 0, 0.495);
}

#card{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), -3px -3px 6px rgba(0,0,0,0.3)
    ;
}