@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
}

img{
    width: 400px;
    height: 350px;
}

#card_header{
    height: 85px;
}

textarea:is(:focus){
    border-color: #2e8a56; 
    border-width: 3px;
}

textarea::-webkit-scrollbar{
    width: 0px;
}

#submit{
    transition: all 0.5s;
}

#submit:hover{
    background-color: white;
    border: 2px solid green;
    box-shadow: 3px 3px 15px rgba(0, 128, 0, 0.495), -3px -3px 15px rgba(0, 128, 0, 0.495),-3px 3px 15px rgba(0, 128, 0, 0.495),3px -3px 15px rgba(0, 128, 0, 0.495);
}

#card{
    box-shadow: 3px 3px 5px rgb(0,0,0,0.4), -4px -4px 8px rgba(0,0,0,0.4);
}